main {
  min-height: 100vh;
  background: linear-gradient(to right top, #4cb8c4, #3cd3ad);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background: white;
  min-height: 80vh;
  width: 60%;
}
